body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #274d5a;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form {
    text-align: center;
}

h1 {
    color: #2196F3;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #274d5a 20%;
}

.signup-link,
.login-link {
    color: #666;
    margin-top: 10px;
}

.signup-link a,
.login-link a {
    color: #2196F3;
    text-decoration: none;
}

.hidden {
    display: none;
}
